@model AnimalRegistration.Fish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.animal.animalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal.animalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopulationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PopulationNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FishID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
