@model IEnumerable<AnimalRegistration.Amphibian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.animal.animalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmphibiansName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmphibiansType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DietryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopulationNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.AmphibiansName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmphibiansType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopulationNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmphibiansID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmphibiansID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmphibiansID })
        </td>
    </tr>
}

</table>
